body {
    font-family: "Inconsolata"
    /* font-family: "Bitter" */
}
body {
    background-image: radial-gradient(rgb(17, 17, 24), rgb(13, 12, 29), rgb(2, 2, 3));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new-book-btn {
    height: 70px;
    width: 100px;
    border-style:ridge;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#new-book-btn:hover {
    background-color: rgb(20, 20, 20);
    box-shadow: 2px 3px 5px;
}
h1 {
    color: aliceblue;

}
#inputCard {
    background-image: linear-gradient(to top right, rgba(17, 0, 255, 0.788), rgba(255, 192, 203, 0.651));
    border: 1px solid black;
    border-radius: 4px;
    font-size: small;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    margin: 7px;
}
#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}
#input-form > button {
    border-style: none;
    border-radius: 3px;
    background-color: rgb(36, 10, 58);
    color: aliceblue;
    height: 26px;
    width: 90px;
    margin: 2px;
}
#input-form > button:hover {
    background-color: black;
    border-style: ridge;
}
#shelf {
    display: flex;
    flex-wrap: wrap;
}

#new-card {
    background-image: linear-gradient(to top right, rgba(53, 36, 36, 0.363), rgb(51, 21, 21), rgb(54, 46, 30));
    color: rgb(248, 250, 215);
    border-right: 3px double;
    border-radius: 4px;
    box-shadow: 30px 1px 4px;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
#newBookCard {
    background-color: yellow;
}