body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new-book-btn {
    height: 70px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#shelf {
    display: flex;
}

#new-card {
    background-image: radial-gradient(rgb(53, 36, 36), rgb(51, 21, 21), rgb(54, 46, 30));
    border-radius: 4px;
    box-shadow: 2px 6px 11px;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}